body {
    margin: 0;
    background-color:rgb(29, 30, 31);
    color: white;
    font-size: large;
}
#header {
    display: flex;
    justify-content: space-around;
}
#main {
    margin: 45px 0px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* #top, #bot, #mid, #header, #main {
    border: solid red 2px;
} */

#top, #bot {
    display: flex;
    gap: 100px;
}

button {
    width: min-content;
    background-color: transparent;
    border: transparent;
}

img {
    filter: invert(100%);
    pointer-events: none;
    height: 200px;
}

.glow {
    box-shadow: 0 0 20px rgb(49, 190, 255);
    transform: scale(1.25);
}


